{% extends 'template.html.twig' %}
{% block title %} Home | Public {% endblock %}

{% block mainClass %} 'flex flex-col text-center mx-auto w-fit' {% endblock %}
{% block content %}
    <div class="container pt-8 mt-6 flex flex-col gap-4">
        <h2 class="text-5xl">Welcome</h2>
        <h3 class="text-4xl">Use the options on the sidebar to navigate to the code</h3>
        <h4 class="text-3xl">Or the link on the top right to login</h4>
    </div>
{% endblock %}