{% extends 'privateView/private.home.html.twig' %}
{% block title %} Admin | PhpCall {% endblock %}
{% block mainClass %} "mx-auto" {% endblock %}
{% block content %}
    <form action="./" method="POST" id="addNewCall" class="mx-auto">
        <div class="bg-[#F9FAFB] h-auto w-auto flex items-center">
            <div class="h-max mx-auto flex flex-col items-center justify-center">
                <h3 class="text-xl font-bold text-center pb-10">Add PHP Call</h3>
                <div class="bg-white shadow-xl p-10 flex flex-row gap-4 text-sm text-center">
                    <div class="flex flex-row">
                        <div class="flex flex-col">

                            <div>
                                <input class="hidden" type="text" name="addCallType" id="addCallType" value="phpCall">
                                <label class="text-gray-600 font-bold inline-block pb-2" for="addCallDesc">Description</label>
                                <input class="border border-gray-400 focus:outline-slate-400 rounded-md w-full shadow-sm px-5 py-2" type="text" name="addCallDesc" id="addCallDesc" placeholder="Description" required>
                            </div>
                            <div>
                                <label class="text-gray-600 font-bold inline-block pb-2" for="addCallCode">Code</label>
                                <textarea class="border border-gray-400 focus:outline-slate-400 rounded-md w-full shadow-sm px-5 py-2" rows="30" cols="80" name="addCallCode" id="addCallCode" placeholder="Code" required></textarea>
                            </div>
                        <!--        <div class="flex flex-col"></div>       -->
                    </div>
                </div>
            </div>
                <div>
                    <button class="bg-[#4F46E5] w-full py-2 px-6 mt-2 rounded-md text-white font-bold cursor-pointer hover:bg-[#181196]" type="submit">Add</button>
                </div>
        </div>
        </div>
    </form>

{% endblock %}